body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #ffff;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: #ffff;
  color: rgb(155, 219, 7);
  border-radius: 0;
  border-bottom: 10px solid rgb(4, 68, 63);
}


.description{
  white-space: pre-wrap;
  color: #000000;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 5px solid rgb(4, 49, 51);
  border-bottom:  1px solid rgb(4, 49, 51);
  border-left: 5px solid rgb(4. 49, 51);
  border-right: 5px, solid rgb(4, 49, 51);
}

.hour {
  padding-top: 23px;
  background-color:rgba(1, 62, 112, 0.753);
  color:rgb(155, 219, 7);
  border-top: 3px solid rgb(199, 221, 228);
  border-bottom: 3px solid rgb(199, 221, 228);
  border-left: 3px solid rgb(199, 221, 228);
  border-right: 3px solid rgb(151, 170, 175);
}

.past {
  background-color: rgb(4, 74, 139);
  color: white;
}

.present {
  background-color: rgb(155, 219, 7);
  color: white;
}

.future {
  background-color: rgba(94, 186, 247, 0.829);
  color: white;
}

.saveBtn {
  border-left: 3px solid rgb(151, 170, 175);
  border-top: 3px solid rgb(199, 221, 228);
  border-right: 3px solid rgb(199, 221, 228);
  border-bottom: 3px solid rgb(199, 221, 228);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgba(1, 62, 112, 0.753);
  color: rgb(155, 219, 7);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
